// styles/base.scss

*,
*:after,
*:before {
  box-sizing: border-box;
}

a,
b,
body,
button,
dd,
div,
dl,
dt,
em,
form,
h1,
h2,
h3,
h4,
h5,
h6,
html,
i,
iframe,
img,
input,
label,
li,
ol,
p,
select,
span,
strong,
textarea,
ul {
  padding: 0;
  margin: 0;
  -webkit-user-select: none;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

body,
html {
  height: 100%;
  -webkit-overflow-scrolling: touch;
}

html {
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  line-height: 14 * $size;
  font-family: $font-family;
  font-size: 14 * $size;
  color: $font-color;
  background-color: $bg-color;
}

a {
  text-decoration: none;
  color: $font-color;
  cursor: pointer;
  outline: 0;
}

button,
input,
select,
textarea {
  outline: none;
  border-radius: 0;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-user-modify: read-write-plaintext-only;
}

input::-webkit-input-speech-button {
  display: none;
}

input[type="text"] {
  &::-ms-clear,
  &::-ms-reveal {
    display: none;
    width: 0;
    height: 0;
  }
}

input:-webkit-autofill {
  box-shadow: 0px 0px 0px 1000px #fff inset !important;
}

button {
  border: 0;
}

ol,
ul {
  list-style: none;
}

em,
i {
  font-style: normal;
}

img {
  vertical-align: middle;
  border: 0;
}

iframe {
  border: 0;
}

::-webkit-scrollbar {
  width: 6 * $size;
  height: 6 * $size;
}

::-webkit-scrollbar-track {
  background-color: rgba($black-color, 0);
  border-radius: 6 * $size;

  &:hover {
    background-color: rgba($black-color, 0.1);
  }
}

::-webkit-scrollbar-thumb {
  background-color: rgba($black-color, 0.2);
  border-radius: 6 * $size;

  &:hover {
    background-color: rgba($black-color, 0.3);
  }

  &:active {
    background-color: rgba($black-color, 0.4);
  }
}

@import "modules/animation.scss";
@import "modules/iconfont.scss";
@import "modules/input.scss";

.page {
  height: 100%;
}

.wrapper {
  width: 100%;
  min-width: $min-width;

  .wrapper-box {
    width: $min-width;
    margin: 0 auto;
  }
}

.sidebar-resize {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
  width: 6 * $size;
  cursor: col-resize;
}

.grid-layout {
  display: grid;
  height: 100%;
  grid-template-areas: "nav content";
  grid-template-columns: 300 * $size 1fr;
  grid-template-rows: 1fr;

  .grid-nav {
    position: relative;
    grid-area: nav;
    overflow-x: hidden;
    overflow-y: auto;
  }

  .grid-content {
    grid-area: content;
    overflow-x: hidden;
    overflow-y: auto;
  }
}

table {
  width: 100%;
  margin: 10 * $size 0;
  border-collapse: collapse;
  border-spacing: 0;

  th,
  td {
    padding: 20 * $size 20 * $size;
    text-align: left;
    border-bottom: 1 * $size solid $border-color;

    &:first-child {
      padding-left: 0;
    }
  }

  th {
    color: #888;
    border-color: #888;
  }
  td {
    &:empty {
      &::before {
        content: "-";
      }
    }
  }
}

.section {
  margin-bottom: 20 * $size;
  background-color: $white-color;
  box-shadow: 0 1 * $size 3 * $size rgba(50, 50, 93, 0.15), 0 1 * $size 0 rgba($black-color, 0.02);

  .section-title {
    padding: 20 * $size 20 * $size 0;
    line-height: 22 * $size;
    font-size: 22 * $size;
  }

  .section-content {
    padding: 20 * $size;

    p {
      padding-top: 10 * $size;
    }
  }
  h3 {
    padding-bottom: 10 * $size;
    line-height: 20 * $size;
  }
}

.section-code {
  margin-bottom: 10 * $size;
  p {
    padding-bottom: 10 * $size;
  }
}

.output {
  padding: 8 * $size 16 * $size;
  line-height: 18 * $size;
  white-space: pre-wrap;
  border: 1 * $size solid $border-color;
  box-shadow: 2 * $size 2 * $size 5 * $size -2 * $size rgba(0, 0, 0, 0.1);
}

.flex-box {
  display: flex;
  margin-top: 5 * $size;
  align-items: flex-start;

  .output {
    margin-right: 5 * $size;
    flex: 1;
  }
}
